<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for(:user, url: signin_path) do |f| %>
    <%= f.label :email %>
    <%= f.collection_select(:email, User.all, :email, :email) %>
    <%= f.label :password %>
    <%= f.password_field :password, id: 'password' %>
    <%= f.submit 'Sign In'%>
<% end %>